@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600&family=Raleway:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #dde1e7;
}

.container{
    width: 60%;
}

.container .wrapper{
    min-width: 750px;
    max-width: 1000px;
    border-radius: 10px;
    padding: 25px;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73,
                2px 2px 5px rgba(94, 104, 121, 0.288);
}

.wrapper .keys{
    display: flex;
    justify-content: center;
}

.wrapper .keys input{
    height: 50px;
    min-width: 50px;
    padding: 10px;
    outline: none;
    border: none;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: grey;
    text-transform: uppercase;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73,
                2px 2px 5px rgba(94, 104, 121, 0.288);

}

.wrapper .keys input:active{
    color: #3498db;
    font-size: 19px;
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 2px 2px 5px rgba(94, 104, 121, 0.288);

}

.wrapper .keys input[value="SPACE"]{
    width: 60%;
}

.wrapper .display{
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    user-select: none;
}

.wrapper .display textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    padding: 10px 15px;
    font-size: 20px;
    color: #3498db;
    border-radius: 10px;
    background: #dde1e7;
    pointer-events: none;
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 2px 2px 5px rgba(94, 104, 121, 0.288);

}